* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  scroll-behavior: smooth;
  background-color: hsl(var(--hue), var(--sat), 98%);
  color: hsl(var(--hue), var(--sat), 20%);
}

button, input, textarea{
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  color: hsl(var(--hue), var(--sat), 20%);
}

img{
  max-width: 100%;
  height: auto;
}
