button{
    cursor: pointer;
    border:none;
    outline: none;
}

.button {
    display: inline-block;
    background-color: $title-color;
    color: $container-color;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: $font-medium;
}

.button:hover {
    background-color: $title-color-dark;
}

.button__icon {
    margin-left: $mb-0-5;
}