

.button {
    display: inline-block;
    background-color: $title-color;
    color: $container-color;
    padding: 2.4rem 3.2rem;
    border-radius: 1.6rem;
    font-weight: $font-medium;
}

.button:hover {
    background-color: $title-color-dark;
}

.button__icon {
    margin-left: $mb-0-5;
}