.header {
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 10px -10px;
  height: $header-height;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .nav {
    height: 5rem;
    // font-size: 1.5rem;
    // margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.6rem;

    .nav__list {
      display: flex;
      column-gap: 3rem;
    }

    .nav__name,
    .nav__toggle {
      font-size: 1.5rem;
      font-weight: $font-medium;
      color: $title-color;
    }

    .nav__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $small-font-size;
      color: $title-color;
      font-weight: $font-medium;
      transition: all 0.3s;
    }

    .nav__close,
    .nav__toggle,
    .nav__icon {
      display: none;
    }

    // ACTIVE LINK:
    .active-link,
    .nav__link:hover {
      color: $title-color-dark;
    }
  }
}

// BreakPoints
@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;

    .nav {
      height: $header-height;
      display: flex;
      justify-content: space-start;
      padding: 0 2rem;

      .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: $body-color;
        padding: 3.2rem 2.4rem 6.4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2.4rem 2.4rem 0 0;
        transition: 0.3s;

        //                       SHOW MENU

        .nav__list {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 2rem;
        }

        .nav__icon {
          font-size: 1.2rem;
        }

        .nav__close {
          position: absolute;
          right: 2.1rem;
          bottom: 0.8rem;
          font-size: 2.4rem;
          cursor: pointer;
          color: $title-color;

          &:hover {
            color: $title-color-dark;
          }
        }

        .nav__toggle {
          font-size: 3rem;
          cursor: pointer;
        }
      }

      .show-menu {
        bottom: 0;
      }

      .nav__icon,
      .nav__close,
      .nav__toggle {
        display: block;
      }
    }
  }
}

// Small devices:
@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 3.2rem 0.4rem 6.4rem;

    .nav__list {
      column-gap: 0;
    }
  }
}
